*{
    margin: 0;
    padding: 0;
}
.nav-bar a{
    color: rgb(20, 20, 107);
    font-size: 50px;
    margin-left: 5%;
    text-decoration: none;
}
.nav-bar #links a{
    font-size: 25px;
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    display: block;
}
.nav-bar #links a img{
    width: 25px;
    height: 25px;
}
.nav-bar #links a img:hover{
    width: 30px;
    height: 30px;
}
.nav-bar #links a button{
    padding: 5px 50px;
    font-size: 20px;
    color: rgb(20, 20, 107);
    cursor: pointer;
}
.nav-bar{
    position: relative;
}
.nav-bar #links{
    display: none;
    background-color: rgb(100, 100, 233);
}
.nav-bar a.icons{
    position: absolute;
    font-size: 25px;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid black;
    color: black;
    right: 1%;
    top: 0;
}
nav{
    display: none;
}
@media screen and (max-width:1200px) {
    nav{
        display: block;
    }
}